* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.wheel-container {
    width: 150px;
    height: 390px;
    border: 10px solid #333;
    border-radius: 12px;
    position: relative;
    margin: 10px auto;
}

.wheel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    top: 0;
}

.slice {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid #333;
}
.slice.even {
    background-color: #ffcc00;
}
.slice.odd {
    background-color: #ff6600;
}

/* Pijl aan de rechterkant van het rad */
.pointer {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid red; /* Driehoekige pijl die naar links wijst */
    position: absolute;
    top: 50%; /* Plaats het in het midden van de verticale as */
    left: -20px; /* Zet de pijl aan de rechterkant buiten het wiel */
    margin-top: 10px;
    transform: translateY(-50%); /* Zorg dat de pijl perfect gecentreerd is */
    z-index: 1; /* Zorg dat de pijl boven het wiel blijft */
}

button {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    background:linear-gradient(to right bottom, #BF953F, #FCF6BA, #B38728);
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
}
